header {
	height: 64px;
	background-color: #4CAF50;
}

.mobile {
	max-width: 100%;
	height: 64px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*main section */
.main {
	max-width: 100%;
}

.main-banner {
	max-width: 100%;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	margin: 32px auto 32px 16px;
}

.start {
	font-size: 32px;
	font-weight: 400;
	margin-left: 16px;
}

.btn {
	background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    margin: 24px 16px 32px 16px;
    width: 640px;
}

/*Support section*/
.information {
	margin: 0 16px 0 16px;
}
	
.information:first-child {
	margin: 16px 16px 64px;
}

.information:last-child {
	margin: 64px 16px 32px;
}

.information h3 {
	font-size: 2em;
	font-weight: bold;
	padding: 1em 16px;
}

.information span {
	font-size: 1em;
	display: block;
	padding-left: 16px;
}

.information a {
	font-size: 1em;
	font-weight: 400;
	padding: 0.5em 16px;
	line-height: 2em;
}

/*Learning section*/
.learning {
	border: 1px solid black;
}

.learning h2 {
	font-size: 4.5em;
	font-weight: bold;
	margin: 32px auto 16px;
	text-align: center;
}

.course {
	font-size: 2em;
	background-color: gray;
	color: white;
	margin: 0 auto 8px;
	max-width: 80%;
	padding: 16px 16px 24px 16px;	
}

.course:last-child {
	margin-bottom: 32px;
}

/*Thesis section*/
.thesis h2 {
	font-size: 4.5em;
	font-weight: bold;
	text-align: center;
	margin: 32px auto 16px;
}

video {
	max-width: 100%;
}

/*Footer section*/

footer {
	margin-top: 24px;
	padding: 16px;
	font-size: 0.75em;
}